:root{
    --color-background: #0f172a;
    --color-secondary-background: #6399DA;

    --color-surface: #121F37;
    --color-surface-light: #334155;

    --color-text: #f1f5f9;
    --color-text-secondary: #cbd5e1;
    
    --color-primary: #1e40af;
    --color-primary-light: #3b82f6;
    --color-primary-dark: #1e3a8a;
    
    --color-secondary: #0c4a6e;
    --color-tertiary: #075985;
    
    /* Accent Colors - Teal */
    --color-accent: #0891b2;
    --color-secondary-accent:#6793BF;
    --color-accent-light: #67e8f9;
    --color-accent-dark: #0e7490;

    /* Effect Modal */
    --color-effects-modal-background:#17224B;
    --color-effects-button: #6793BF;
    --color-effects-button-hover: #4a6fa5;
    --color-close-button-hover:#ef4444;


    /* Other */
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
    --color-border: #334155;

    /* Gradients */
    --gradient-module-card: linear-gradient(135deg, #1e293b 0%, #0a2d5f 100%);

    /* Knob */
    --knob-base: rgba(27, 34, 90, 0.548);
    --knob-track: rgba(255, 255, 255, 0.39);
    --knob-dot-outer: #5862eb;

}