.sidebar-container{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-items li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar-tab{
    background-color: var(--color-sidebar-button);
    color: white;
    padding: 8px;
    margin: 2px 0px;
    border-radius: 4px;
    width: 80%;
    border:1px solid black;
}

.sidebar-tab:hover{
    cursor: pointer;
    background-color: var(--color-sidebar-button-hover);
}