.piano-keyboard-layout{
    position:relative;
    display: flex;
    flex-direction: row;
}

.container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-wrapper {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 10;
    font-size: 14px;
}
