#root {
    background-color: var(--color-background);
}

::backdrop {
    background-color: rgba(23, 31, 49, 0.6);
    filter: blur(8px);
}

:modal {
    background-color: var(--color-effects-modal-background);
    border-radius: 8px;
    border: none;
    max-width: 80vw;
    padding: 8px;
}

@media (max-width: var(--bp-sm)) {
    :modal {
        max-width: 95vw;
        padding: 4px;
    }
}
