button:hover{
    cursor:pointer;
}

.close-button{
    background-color: var(--color-background);
    border-radius: 4px;
    border: 1px solid var(--color-border);
    padding:8px;
    margin-bottom: 1rem;
    transition: all .3s ease;
}

.close-button:hover{
    background-color:var(--color-error);
}

.buttons-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap:4px;
}

.effect-button{
    background-color: var(--color-background);
    border-radius: 4px;
    border: 1px solid var(--color-border);
    padding:8px;
    margin:2px;
    min-width: 100%;
}

.effect-button:hover{
    background-color: var(--color-primary);
}

:modal{
  border-radius: 8px;
  border:none;
  /* height:80vh; */
  /* width: 80vw; */
}